nav {
    text-align: center;
    min-height: 100%;
    width: $nav-size;
    border-right: $nav-border;
    background-color: white;
}   
.logo {
    font-size: 2.5rem;
    font-weight: bold;
    padding:20px;
    border-bottom: $nav-border;
    background-color: inherit;
}
.nav-list {
    width: 100%;
    list-style: none;
    margin:0;
}
li {
    width: 100%;
    padding: 1em 0.5em;
    transition: all .2s;
    &:last-child{
        border-top: $nav-border;
        border-bottom: $nav-border;
        font-weight: bold;
    }
}
li:hover{
    box-shadow: inset -20px 0px 20px -20px $color-shade;
    background-color: $color-primary;
    a {color:white;}
}