//colors
$color-white: #fff;
$color-primary: #52b2cb;
$color-shade: #5b5b5bb5;
$color-bg-alt: #cbeed8;

$color-font-dark:  #161c2a;
$color-font-mid: #666666;


//fonts
$font-family-primary: sans-serif;

//breakpoints
$bp-s : 576px;
$bp-m : 768px;
$bp-l : 992px;
$bp-xl : 1200px;


//placeholders
$ph-size : 300px;
$ph-size-l : 500px;

$nav-border : solid 3px $color-primary;
$nav-size : 200px;